language: python
sudo: false
python:
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements-test.txt
  - pip install flake8
  - python setup.py install
script:
    - pytest
    - flake8
